/* Remove Chrome input background color when autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 20px white inset !important;
}

/*
.form-check
01. 用在 checkbox、radio
02. 重新架構 form-check(label 包住 input)
03. 高度固定為 1.5rem
*/

/*
.form-check-sign 選取框區塊
01. 包含：.check
*/
.form-check .form-check-sign {
    left: 0;
    top: 0;
    transition-duration: 0.2s;
    vertical-align: middle;
    position: relative;
    float: left;
    display: inline-block;
    height: inherit;
}

.form-check .form-check-text {
    padding-left: .25rem;
}

/*============ image ===============*/
.elementImage .imageThumbnail {
    object-fit: cover;
    overflow: hidden;
    height: 100% !important;
}

.square-size-100 {
    width: 100px;
    height: 100px;
}

.square-size-200 {
    width: 200px;
    height: 200px;
}

.square-size-300 {
    width: 300px;
    height: 300px;
}

.square-size-400 {
    width: 400px;
    height: 400px;
}

.square-size-500 {
    width: 500px;
    height: 500px;
}

/*============ file ===============*/
.elementFile .custom-file-label::after {
    content: "選擇檔案";
}

/*============ isColored ===============*/
select.isColored {
    background-color: #fff;
}

input.isColored.active,
select.isColored.active {
    background-color: #FAF4FF;
}

input:-webkit-autofill.isColored.active,
input:-webkit-autofill.isColored.active:hover,
input:-webkit-autofill.isColored.active:focus,
input:-webkit-autofill.isColored.active:active {
    -webkit-box-shadow: 0 0 0 20px #FAF4FF inset !important;
}

select.isColored + .btn-group > .multiselect.btn {
    background-color: #fff;
}

select.isColored.active + .btn-group > .multiselect.btn {
    background-color: #FAF4FF;
    padding-left: .6rem;
}

